/* Calculations */
#calculations-container {
  grid-area: C;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "A B C"
  "D E F"
  "H I J";
  justify-items: center;
} 

.calculation {
  margin: 0;
  text-align: center;
}

.name {
  font-size: 15px;
}

.sum {
  font-size: 20px;
}

#Total-Sales {
  grid-area: A;
  font-weight: bold;
}

#Jar-Discount {
  grid-area: B;
}

#Delivery-Fee {
  grid-area: C;
  font-style: italic;
}

#Total-Expenses {
  grid-area: A;
  font-weight: bold;
}

#Total-Ingredients {
  grid-area: B;
}

#Kimchi {
  grid-area: D;
  font-style: italic;
}

#Jalapenos {
  grid-area: E;
  font-style: italic;
}

#Beans {
  grid-area: F;
  font-style: italic;
}

#Supplies {
  grid-area: H;
  font-style: italic;
}

#Packaging {
  grid-area: I;
  font-style: italic;
}

#Delivery {
  grid-area: J;
  font-style: italic;
}

/* NET INCOME */
/* #big-calculation {
} */

@media only screen and (max-width: 650px) {
  .calculation {
    width: 25vw;
  }
}