:root {
  --apricot: #ffd5b8;
  --claret: #720026;
  --rosewood: #4f000b;
  --darksienna: #2d0005;
  --tabColor: #720026;
  --sales: #ffd5b8;
  --expenses: #720026;
  --summary: #2d0005;
  --tab-scale: 2;
  --tab-width: 16px * var(--tab-scale);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* *** HEADER FOR BUSINESS NAME AND PROFILE PIC *** */
header {
  box-sizing: border-box;
  width: 100vw;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 40;
  margin: 0;
  padding: 10px;
  align-items: center;
  border-bottom: 1px black solid;
  background-color: white;
}

h3 {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

/* *** DIV SOUP OH YEAH *** */
#body-div {
  position: relative;
  width: 100vw;
}

#nav-div {
  /* ** ROTATE! ** */
  transform: rotate(90deg);
  transform-origin: top left;
  width: 90vh;
  height: 60px;
  position: fixed;
  top: 90px;
  border-top: 20px solid;
  margin-left: 100%;
  align-items: center;
}

#batchmenu-div {
  position: sticky;
  top: 40px;
  z-index: 40;
  text-align: right;
  padding: 10px 120px 10px 0;
}

#main-div {
  margin-top: 50px;
  padding: 10px;
  width: 90vw;
  height: 90vh;
}

/* *** BATCH MENU *** */
#dropdown {
  font-size: 18px;
  padding: 5px;
}

/* *** NAV *** */
/* FIXED, ABSOLUTE, ON SIDE LIKE TABS
MEDIA QUERY: TABS ACROSS TOP */
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  right: 10px;
}

nav a {
  text-decoration: none;
  text-decoration-color: none;
}

nav a:visited {
  color: black;
}

/* tabs using input(type="radio") and styling from: https://codepen.io/tari/pen/mVdLXy/?editors=1111 */
.tabs {
  height: 100vw;
  position: relative;
  overflow: hidden;
}

nav label {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  width: var(--tab-width);
  height: 33%;
  outline: var(--tab-width) / 2 solid;
  outline-offset: -var(--tab-width) / 2;
  margin: 0;
  padding: 0;
  z-index: 1;
  appearance: none;
  cursor: crosshair;
}

label[for="summary"] {
  background-color: var(--summary);
  outline-color: var(--summary);
  top: 0%;
}

label[for="sales"] {
  background-color: var(--sales);
  outline-color: var(--sales);
  top: 33%;
}

label[for="expenses"] {
  background-color: var(--expenses);
  outline-color: var(--expenses);
  top: 66%;
}
/* input[type="radio"]:checked main {
  transform: translateX(0%);
	transition: transform 0.4s ease 0.4s;
} */

/* .nav-tab {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

#tab-sales {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid green;
  padding: 20px;
  width: 200px;
  text-align: center;
}

#tab-expenses {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid red;
  padding: 20px;
  width: 200px;
  text-align: center;
} */

/* *** DETAILS *** */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    "T D"
    "T C";
  gap: 10px;
  justify-items: center;
}

/* *** ENTRIES: add entry button and entries table */
#entries {
  grid-area: T;
}

/* *** TO FORM BUTTON *** */
#add-entry {
  text-align: center;
}

#add-entry button {
  width: 70%;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
}

/* *** FORM *** */
#form-div {
  background-color: gainsboro;
  position: fixed;
  width: 90vw;
  height: 90vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

/* *** Doughtnut *** */
#donut-container {
  grid-area: D;
  width: 500px;
  margin: 30px;
}

@media only screen and (max-width: 1024px) {
  #body-div {
    display: flex;
    flex-direction: column;
  }

  header {
    position: fixed;
  }

  #batchmenu-div {
    width: 100vw;
    position: fixed;
    margin-top: 40px;
  }
  #dropdown {
    margin-right: 40px;
  }

  #nav-div {
    transform: none;
    width: 100vw;
    position: fixed;
    top: 90px;
    margin-left: 0;
    border-top: 5px solid var(--tabColor);
  }
  .nav-tab {
    padding: 10px;
    width: 200px;
  }

  #main-div {
    margin-top: 160px;
    padding: 10px;
    width: 90vw;
    height: 90vh;
  }
}
