:root {
  --apricot: #FFD5B8;
  --claret: #720026;
  --rosewood: #4F000B;
  --darksienna: #2D0005;
}

.App {
  position: relative;
}

/* HEADER FOR BUSINESS NAME AND PROFILE PIC */
header {
  display: flex;
  background: var(--claret);
  box-sizing: border-box;
  width: 100vw;
  height: 40px;
  padding: 10px;
  align-items: center;
  border-bottom: 1px black solid;
}

h3 {
  color: var(--apricot);
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

/* DIV SOUP OH YEAH */
#nav-div {
  /* *** ROTATE! *** */
  transform: rotate(90deg);
  transform-origin: top left;
  width: 100vh;
  position: fixed;
  top: 0;
  margin-left: 99%;
}

#batchmenu-div {

}

#main-div {
  position: absolute;
}

/* *** BATCH MENU *** */
#batch-menu {
  text-align: right;
  margin-top: 20px;
  margin-right: 10%;
}

#dropdown {
  font-size: 18px;
  padding: 5px;
}

/* *** NAV *** */
/* FIXED, ABSOLUTE, ON SIDE LIKE TABS
MEDIA QUERY: TABS ACROSS TOP */
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: black;
}

.nav-tab {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  text-align: center;
}

#tab-sales {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid green;
  padding: 20px;
  width: 200px;
  text-align: center;
}

#tab-expenses {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid red;
  padding: 20px;
  width: 200px;
  text-align: center;
}

/* *** DETAILS *** */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .25fr 1fr 1fr;
  grid-template-areas:
    "A D"
    "T D"
    "T C";
  gap: 10px;
  margin: 20px;
  padding: 10px;
  width: 90vw;
  height: 90vh;
}

/* ! TABLE */
/* remove display block, give table header styling, border, every other row shaded
fixed position, scroll inside */
table {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  grid-area: T;
  align-self: center;
  width: 620px;
  max-height: 700px;
  overflow: scroll;
  justify-content: center;
}

/* Doughtnut */
#donut-container {
  grid-area: D;
}

/* Calculations */
#calculations-container {
  grid-area: C;
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

/* NET INCOME */
#big-calculation {

}