/* HEADER FOR BUSINESS NAME AND PROFILE PIC */

/* NAV */
/* FIXED, ABSOLUTE, ON SIDE LIKE TABS
MEDIA QUERY: TABS ACROSS TOP */
/* BATCH MENU IN NAV? */
/* #nav-container {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 30vw;
} */
nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* *** ROTATE! *** */
  transform: rotate(90deg);
  transform-origin: top left;
  width: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

/* #tab-summary {

}

#tab-sales {

}

#tab-expenses {

} */